@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --card-bg-primary-color: #1E2875;
    --card-bg-secondary-color: #FFFFFF;
    --body-bg-color:#FAFBFF;
    --border-primary:#413B89;
    --text-primary:#1A1558;
    --icons-primary:#9197B3;
    --text-secondary:rgba(34, 34, 34, 0.9);
    --border-secondary:rgba(0, 0, 0, 0.15);
    --card-border-color:#EBEBEE;
    --text-label-color:rgba(31,31,31,0.70);
    --border-bottom-primary:#D9CFFB;
    --profile-bg-color:#FFA78D;
    --card-shadow-secondary: 0px 2.84px 4.27px 0px rgba(0,0,0,0.15);
    --button-bg-primary-color:#f0effa;
    --button-text-primary-color:rgba(31,31,31,0.80);
    --border-subCard:rgba(0,0,0,0.15);
    --bio-text-color:rgba(73,69,79,0.80);
    --professional-header-text-color:rgba(73,69,79,0.80);
  }

  .cardShadowSecondary{
    box-shadow: var(--card-shadow-secondary);
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: var(--body-bg-color);
    font-family: 'Outfit', sans-serif;
  }